@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-black text-purple-700 }
svg { @apply inline }

.clams:after { content:'🐚'; @apply opacity-75 }
.money:after { content:'🪙'; @apply opacity-75 }
.bills:after { content:'💸'; @apply opacity-75 }
.number:after { content:'#'; @apply opacity-75 }
.percent:after { content:'%'; @apply opacity-75 }

.noScrollbar::-webkit-scrollbar { display: none; /*chrome*/ }
.noScrollbar { -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */ }

header button { @apply rounded-xl }
header button:hover:not(#logo) { @apply bg-opacity-25 bg-black h-14 items-center }
